body{
    box-sizing: border-box;
}

#logo{
    width: 100px;
    height: 80px;
    display:inline-block;
}

ul{
   list-style-type: none; 
}

li{
    float:left;
    padding: 10px;
}

#contents{
    text-align: center;
    width: 800px;

}
#title{
    border: 2px rgb(63, 210, 236) solid;
    padding: 30px;
    margin: 30px;
    box-shadow: 10px 5px 5px rgb(63, 210, 236);
}

#creatNewTweet{
    border: 2px  rgb(63, 210, 236) solid;
    padding: 30px;
    margin: 30px;
    text-align: left;
    box-shadow: 10px 5px 5px  rgb(63, 210, 236);
}

#showtweet{
    border: 2px  rgb(63, 210, 236) solid;
    padding: 10px;
    margin: 30px;
    box-shadow: 10px 5px 5px  rgb(63, 210, 236);
}
.tweetComment{
    text-align: left;
}

.user{
    text-align: left;
}

.date{
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 2px  rgb(63, 210, 236) solid;
    margin-bottom: 10px;
}